/*body color*/

body {
    background-color: rgb(22, 79, 130);
}


/*tempBody Design */

.tempBody {
    width: 755px;
    height: 300px;
    background-color: rgb(105, 105, 94);
    text-align: center;
    margin-left: 50px;
}


/*heading desgin */

#heading1 {
    background-color: rgb(2, 1, 7);
    color: white;
    font-family: ' Courier, monospace';
    font-weight: bold;
    font-size: 25px;
}


/*design input field */

#degreeInput {
    width: 98%;
    padding: 6px;
    outline: none;
    border: 2px solid white;
    border-radius: 2px;
}

::placeholder {
    color: rgb(75, 79, 78);
}


/*design drop down menu */

#type {
    margin-top: 30px;
    width: 100%;
    padding: 6px;
    outline: none;
    border: 2px solid white;
    border-radius: 2px;
}


/*design Result field */

#result {
    width: 40%;
    padding: 12px;
    margin-top: 20px;
    color: black;
    font-weight: bold;
    border-radius: 4px;
    outline-style: none;
    outline: none;
    background-color: white;
    border: 2px solid whitesmoke;
}


/*design Button*/

#button {
    padding: 8px;
    margin-top: 25px;
    background-color: rgb(14, 65, 67);
    color: white;
    border: 2px solid rgb(14, 65, 67);
    border-radius: 2px;
}